---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I have always been interested in technology since a young age but only started programming
    the summer before university. I started coding in Swift trying to create an app for iOS. Since
    then, I learned a lot more during my studies in the Industrial Engineering and Management
    program at Chalmers, where I have taken a minor in IT. Currently, I’m pursuing my Master’s
    in Data Science and AI which has further developed my technical skills. I have gained
    valuable skills in object-oriented programming, database management, statistical analysis and
    machine learning. Besides the development of my technical skills, I have also learned a lot
    about the business side through courses in operations management, marketing, and
    economics.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement      
    title="M.Sc. Data Science and AI"
    subtitle="2023 to 2025 at Chalmers University of Technology, Gothenburg, Sweden">
      - Relevant courses: Introduction to Data Science and AI, Nonlinear Optimization, Advanced Probabilistic Machine
Learning, Stochastic Processes and Bayesian Inference.
    </TimeLineElement>


    <TimeLineElement      
    title="Exchange studies ”Berkeleyutbytet”"
    subtitle="Summer 2023 at University of California, Berkeley, USA">
    - Courses: Introduction to Artificial Intelligence & Introduction to International Business<br>
    </TimeLineElement>
    <TimeLineElement
    title="B.Sc. Industrial Engineering and Management"
    subtitle="2020 to 2023 at Chalmers University of Technology Gothenburg, Sweden">
    - GPA: 4.91/5.0<br>
    - Minor in Information Technology<br>
    - Bachelor Thesis: The Aggregator Role in V2G. Written in collaboration with Polestar
    </TimeLineElement>
    <TimeLineElement
    title="Natural Science Program"
    subtitle="2017 to 2020 at Njudungsgymnasiet Vetlanda, Sweden">
    - GPA: 22.29/22.5<br>
    - Scholarships: ”Best credits awarded” and ”Excellent knowledge in the subject of Physics”<br>
    </TimeLineElement>

  </div>
  
 

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>


  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Business Development Intern"
      subtitle="From September 2022 at J3M, Gothenburg, Sweden"
    >
    - Conducting adhoc analyses on operational performance for construction projects.<br>
    - Managing projects regarding the internal workflow.<br>
    - Designing dashboards with Power BI to keep track of KPIs.<br>
    - Programming and designing in Microsoft Excel.
    </TimeLineElement>
    <TimeLineElement
      title="Refill Analyst/Operational Planner"
      subtitle="From June 2021 to August 2022 at Volvo AB, Gothenburg, Sweden"
    >
    - Analyzed daily or weekly purchase proposals and critical inventory levels.<br>
    - Took steps to ensure the availability of warehouses while minimizing environmental impact and maximizing economic efficiency.<br>
    Worked on different projects related mostly to automation with Python and SQL to develop a smoother work environment or to visualize data with Power BI.
    </TimeLineElement>  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Extracurricular activities</div>
  </div>


  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Chairman of the Student Educational Committee"
      subtitle="From January 2022 to December 2022 at the Industrial Engineering and Management Program, Gothenburg, Sweden"
    >
    - Structured the strategic and operational work within the committee.<br>
    - Had regular meetings with the Management Team for the Industrial Engineering and Management Program.<br>
    - Was a member of the board for the Student Division.
    </TimeLineElement>
    <TimeLineElement
      title="Vice Chairman of the Photographic Committee"
      subtitle="From January 2021 to December 2021 at the Industrial Engineering and Management Program, Gothenburg, Sweden"
    >
    - Economically responsible for the committee.
    </TimeLineElement>  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Excel </li>
    <li>Python</li>
    <li>Java</li>
    <li>SQL</li>
    <li>JavaScript</li>
    <li>NodeJS</li>
    <li>React</li>
    <li>Power BI</li>
    <li>matplotlib</li>
    <li>pandas</li>
    <li>mongodb</li>
  </ul>
</BaseLayout>
